// import base font

@font-face {
	font-family: Lato;
	src: url(../fonts/lato/Lato-Light.ttf);
	font-weight: normal;
}

@font-face {
	font-family: LatoReg;
	src: url(../fonts/lato/Lato-Regular.ttf);
	font-weight: normal;
}

// set base font for app
$font-family-base: 'Lato', sans-serif;

// Import bootstrap
@import "bootstrap";


/* MAIN STYLES */
body {
	background-color: transparent;
}

main {
    &.ng-enter {
        transition: .8s;
        opacity: 0;
    }
 
    &.ng-enter-active {
        opacity: 1;
    }

}


.outside {
	background: url('../img/white.jpg') no-repeat center center fixed;
	/*background: url('../img/clean_architecture.jpg');*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
}

.inside {
	background: url('../img/home.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size:cover;
}

.form-wrapper {
	margin-top: 20px;
}


.form-title, .user-info-title {
	padding: 30px 0 40px 0;
	text-transform: uppercase;
	text-align: center;
}

/* FORM STYLES */


#registration-form {

	.form-group {
	    height: 50px;
	    position: relative;

	    label {
			text-transform: uppercase;
			position: absolute;
			color: crimson;
			font-size: 10px;
			padding: 5px 0 5px 10px;
		}

		.form-control {
		    background-color: rgba(255, 255, 255, 0.5);
		    font-family: inherit;
		    box-shadow: none;
		    border-radius: 0;
		}

		.form-control:focus {
		    outline: none !important;
		    border: 1px solid #888;
		}

		.form-control::-webkit-input-placeholder {
		   font-size: 13px;
		}
	}

}


input.form-control {
	padding-left: 10px;
	font-size: 18px;
	color: black;
}

select.form-control {
	font-size: 13px;
    color: #888;
    padding-left: 6px;
}

.custom-select {
	font-size: 18px !important;
	padding-top: 0;
    padding-bottom: 0;
    color: #267108 !important;
}

.custom-select:focus {
    border: 1px solid rgba(38, 113, 8, 0.7) !important;
	
}

/* input behavior on error and success */
.has-error {
	border: 1px solid crimson !important;
    color: crimson !important;
}

.has-error::-webkit-input-placeholder {
    color: crimson !important;
}

.correct {
	border: none;
    color: #267108 !important;
}

.correct:focus {
	border: 1px solid rgba(38, 113, 8, 0.7) !important;
}


/* register button */

.register-button {
	float: right;
	padding: 5px 30px;
	text-transform: uppercase;
	border-radius: 0;
}

.register-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;

}

.register-button:focus, .register-button:active {
	outline: none !important;
}

.ready-button {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
}

.disabled-button {
	background-color: #555;
	border: 1px solid #555;
	color: #fff;
}

/* USER PAGE STYLES */
.user-info-wrapper {
	text-align: center;

	.user-info-content {
		
		margin: 60px 0;

		p {
	    font-size: 19px;

		    span {
		    	font-family: LatoReg;
		    	text-transform: uppercase;
		    }
	    }
    }

    .user-info-footer {
		padding: 20px 0;
		text-transform: uppercase;
	}
}

// animations

.fadeIn.ng-enter {
	-webkit-transition: opacity ease-in-out 0.5s;
	-moz-transition: opacity ease-in-out 0.5s;
	-ms-transition: opacity ease-in-out 0.5s;
	-o-transition: opacity ease-in-out 0.5s;
	transition: opacity ease-in-out 0.5s;
}

.fadeIn.ng-enter {
	opacity: 0;
}

.fadeIn.ng-enter.ng-enter-active {
	opacity: 1;
}


/* MEDIA QUERIES */

@media(max-width: 768px) {
	.user-info-wrapper .user-info-content {
		margin: 0;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.user-info-wrapper .user-info-content {
		margin: 40px 0;
	}
}

@media (min-width: 1200px) {
	.user-info-wrapper {
		margin-top: 50px;
	}
  	.form-wrapper {
    	margin-top: 80px;
	}
}

// large desktops

@media (min-width: 1500px) {
  	.form-wrapper {
    	margin-top: 120px;
	}

	.user-info-wrapper {
		margin-top: 80px;
	}

}