<div class="form-wrapper">
	<h1 class="form-title" class="col-xs-12">Love Minimalism? Come in</h1>

	<form id="registration-form" name="UserForm" novalidate role="form" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

		<div class="form-group">
		
	    	<input ng-class="{'has-error' : UserForm.name.$invalid && UserForm.name.$dirty, 'correct' : UserForm.name.$valid}" type="text" ng-minlength="4" ng-maxlength="40" name="name" placeholder="NAME*" class="form-control" id="name" ng-model="user.name" required>

	    	<label ng-show="UserForm.name.$invalid && UserForm.name.$dirty">Name must contain from 4 to 40 letters!!</label>
	  	</div>

	  	<div class="form-group">
	  	
	    	<input ng-class="{'has-error' : UserForm.email.$invalid && UserForm.email.$dirty,
	    	'correct': UserForm.email.$valid}"
	    	type="email" name="email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" 
	    	placeholder="EMAIL ADDRESS*" class="form-control" id="email" ng-model="user.email" required>

	    	<label ng-show="UserForm.email.$invalid && UserForm.email.$dirty">Incorrect email!</label>

	  	</div>

	  	<div class="form-group">
	    	<input ng-class="{'has-error' : UserForm.password.$invalid && UserForm.password.$dirty, 'correct': UserForm.password.$valid}"
	    	type="password" name="password" ng-minlength="5" ng-maxlength="20" placeholder="PASSWORD*" class="form-control" id="pwd" ng-model="user.password" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/" required>

	    	<label ng-show="UserForm.password.$error.pattern && UserForm.password.$dirty && !(UserForm.password.$error.minlength || UserForm.password.$error.maxlength)">Password should contain at least both 1 character and 1 number!</label>
	    	<label ng-show="UserForm.password.$error.minlength || UserForm.password.$error.maxlength">Password must contain from 5 to 20 symbols</label>
	  	</div>

	  	<div class="form-group">
	    	<input ng-class="{'has-error' : UserForm.phone.$invalid && UserForm.phone.$dirty, 'correct': UserForm.phone.$valid}" type="text" name="phone" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/" placeholder="PHONE*" class="form-control" id="phone" ng-model="user.phone" required ng-messages="UserForm.phone.$error">

	    	<label ng-show="UserForm.phone.$error.pattern && UserForm.phone.$dirty">Phone number should contain only numbers</label>

	  	</div>

	  	<div class="form-group">

	    	<select ng-model="user.country" name="country" ng-class="{'custom-select' : UserForm.country.$dirty&&UserForm.country.$valid}"
            	data-ng-options="country.name as country.name for country in countries" required class="form-control">
      			<option style="display: none;" value="">COUNTRY*</option>
    		</select>
	  	</div>

	  	<div ng-if="user.country =='United States'" class="form-group fadeIn">
	    	<select ng-model="user.state" name="state" ng-class="{'custom-select' : UserForm.state.$dirty&&UserForm.state.$valid}"
            	data-ng-options="state.name as state.name for state in states" required class="form-control">
      			<option style="display: none;" value="">STATE*</option>
    		</select>
	  	</div>

	  		<p class="col-sm-6 col-xs-12">All the fields are required!</p>

		  	<div class="col-sm-6 col-xs-12">
		  		<button ng-disabled="UserForm.$invalid" type="submit" class="btn register-button" ng-click="register(user)" ng-class="{'disabled-button' : UserForm.$invalid, 'ready-button': UserForm.$valid}">Register</button>
		  	</div>	  	
	 	

	</form>
</div>