<div class="user-info-wrapper center-block col-md-12">
	<h1 class="user-info-title">Welcome home {{user.name}}! You are in</h1>

	<div class="user-info-content">
		<p><span>your phone: </span>{{user.phone}}</p>
		<p><span>your email: </span>{{user.email}}</p>
		<p><span>your password: </span>{{user.password}}</p>
		<p><span>country: </span>{{user.country}}</p>
		<p ng-if="user.state"><span>state: </span>{{user.state}}</p>
	</div>

	<h5 class="user-info-footer">Thank you for registering!</p>

</div>